// Font variables
$font-stack          : 'Source Sans Pro', sans-serif;
$font-size-small     : 14px;
$font-size-normal    : 16px;

// Color variables
$color-primary       : #ff2d34;
$color-secondary     : #000000;

$color-black         : #222222;
$color-white         : #ffffff;
$color-bright-grey   : #eeeeee;
$color-light-grey    : #b5b5b5;
$color-grey          : #999999;
$color-dark-grey     : #666666;

// Color sets
$color-s1c0          : #00A7E5;

// Media break points
$brk-phone-s         :  320px;
$brk-phone-m         :  375px;
$brk-phone-l         :  425px;
$brk-tablet          :  768px;
$brk-laptop          : 1024px;
$brk-laptop-l        : 1440px;